<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Privacy Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
{% endblock %}
<body>

    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <nav role="navigation" class="primary-navigation">
    <ul>
        <li><a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='images/pelican.png') }}" alt="Pelican" width="20px" height="20px"></a></li>
        <li><a href="{{ url_for('blog') }}">Blog</a>
        <ul class="dropdown">
            <li><a href="{{ url_for('blog_post_1') }}">How to Use Privacy Post</a></li>
            <li><a href="{{ url_for('blog_post') }}">Search Engine Privacy</a></li>
            <li><a href="{{ url_for('blog_post_2') }}">An Intro to VPNs</a></li>
            <li><a href="{{ url_for('blog_post_3') }}">Intro to Email Privacy</a></li>
        </ul>
        </li>
        <li><a href="{{ url_for('forum') }}">Forum</a>
            <ul class="dropdown">
                <li><a href="{{ url_for('make_forum_post') }}">Post on the Forum</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('resources') }}">Resources</a></li>
        


        
        <li><img class="logo" src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile" width="20px" height="20px">
         {% if session['user_id'] %} {{ session['username'] }} {% endif %}

            <ul>
                </li>
                {% if session['user_id'] %}
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </li>
        


        
        <li><a href="https://www.ecosia.org/"><img class="logo" src="{{ url_for('static', filename='images/exit.png') }}" alt="exit" width="20px" height="20px"></a></li>
    </ul>
    </nav>
    {% block content %}
    {% endblock %}

    </div>
</body>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2025 by Arden A. Cole, Lemuel L'Oiseau, and Morgan McErlean</a>.
    {% endblock %}
<script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
</html>
