{% extends "base.html" %}
{% block title %} Blog Post {% endblock %}
{% block content %}

{% block head %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/blog_post.css') }}">
{% endblock %}

<div class= "blog-post">
    <h1>How to Use Privacy Post</h1>
    <div class = "content">
        <div class = "nav-guide">
            <ul>
                <li><strong>Privacy Pelican:</strong> Click the pelican icon in the top left corner of the navigation bar to go the home page. </li>
                <li>
                    <strong>Blog:</strong> You can find blog posts from the developers here.
                </li>
                <li>
                   <strong>Forum:</strong> You can find recent forum posts here. To create a new forum post you can hover over "Forum" in the navigation bar and click "Post on the Forum". Additionally, if you are on the main Forum page, you can select new post.<br>
                   <strong>*Note*</strong> You must be logged in to make a forum post or comment. You will be redirected to the login page if you try to make a post and are not already logged in.
                </li>
                <li>
                    <strong>Resources:</strong> You can find our curated collection of help docs here. Each help doc will redirect you to an external website.
                </li>
                <li>
                    <strong>User Login/Logout:</strong> Hover over the user icon to login or logout.
                </li>
                <li>
                    <strong>Quick Exit Button:</strong>Viewing content that might result in exposing a part of your identity that you may not want others in your space to know about? Click the Quick Exit icon in the top right corner of the navigation bar to be redirected to Ecosia.
                </li>
            </ul>
        </div>
        <div class = "tips">
            <h3>A Note on User Data</h3>
            Here at Privacy Post, user privacy is our #1 concern (it's in the title). With that in mind, all user information (email, username, password, content) is stored securely on Swarthmore College Department of Computer Science's servers. Your data is never sold or used for profit. However, for moderation purposes, the content of posts are sent to OpenAI's content moderation API. According to their <a href = "https://platform.openai.com/docs/guides/your-data#data-usage-policies">terms of service</a>, they do not store this data or use it to train their models. 

        </div>
        
    </div>
    
</div>

{% endblock %}
