{% extends "base.html" %}
{% block title %} Blog Post {% endblock %}
{% block content %}

{% block head %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/blog_post.css') }}">
{% endblock %}

<div class= "blog-post">
    <h1>Intro To VPNs</h1>
    <div class = content>
        <p>
            One tool that often comes up in discussions regarding internet security and privacy is a VPN. A Virtual Private Network, or VPN, is a way to encrypt one’s internet traffic. While it does not make one’s online activities fully anonymous, using a VPN is a step one can take to better protect their internet privacy. But how does a VPN actually work? 
            <br><br>In simple terms, when a device is connected to the internet it is assigned a set of numbers called an Internet Protocol (IP) address, which specifies certain information about the connection.  A VPN helps to protect some of that information, by encrypting your connection to the internet, and instead of your IP address being directly linked to your device, it is instead linked to the VPN provider. Which means information tied to an IP address (like the geographical location of the device) is not directly linked back to you. 
            <br><br>I would like to reiterate that VPNs do not provide full online anonymity,  and can not protect you from things like tracking malware, phishing attacks, and tracking cookies. That being said, VPNs are still a great tool to better protect one’s internet privacy. To learn more about VPNs, check out our resources page with links to more information on VPNs. 
            </p>
    </div>

</div>

{% endblock %}
