{% extends "base.html" %}
{% block title %} Posting on Forum {% endblock %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/forum_post.css') }}">
{% endblock %}

{%block content %}
{% if error %}

    <div class = "error">
        <p> {{ error_message }}</p>
    </div>
 

{% endif %}

    <form action="{{ url_for('make_forum_post')}}" method="post" class="mt-3">
        <input type="text" name = "title" placeholder="Title..." required>
        <textarea name="content" class="form-control mb-2" placeholder="What's on your mind?" required></textarea>
        <select name="topic" id="topic">
            <option value="general" selected>General</option>
            <option value="lgbtqia+">LGBTQIA+</option>
            <option value="news">News</option>
            <option value="technical">Technical</option>
        </select>
        <button type="submit" class="btn-btn-secondary">Post</button>
    </form>

{% endblock %}
