{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block title %} 
Login
{% endblock %}

{% block content %}
<br><br>
<div class ="login-register">
<form action="{{ url_for('login') }}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <div class = "btn">
        <button class = "btn-btn-secondary" type="submit">Login</button>
    </div>
</form>
<br>
<p>Don't have an account? Register <a href="{{ url_for('register') }}">here</a>.</p>
</div>
{% endblock %}
