{% extends "base.html" %}
{% block title %} Resources {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
{% endblock %}

{% block content %}
    <h2>Resources</h2>
    
    <h3>Search Engine Privacy:</h3>
    <div class="grid">
        <div class="post"><p><a href="https://libguides.citytech.cuny.edu/privacy/searchEngine">What Does My Search Engine Know About Me?</a></p></div>
        <div class="post"><p><a href="https://www.worldprivacyforum.org/2013/10/consumer-tips-search-engine-privacy-2/">Consumer Tips: Search Engine Privacy</a></p></div>
        <div class="post"><p><a href="https://www.eff.org/wp/six-tips-protect-your-search-privacy">Six Tips to Protect Your Search Privacy</a></p></div>
    </div>

    <h3>Virtual Private Network Information:</h3>
    <div class="grid">
        <div class="post"><p><a href="https://www.privacyguides.org/en/vpn/">Privacy Guide's Recommended VPNs</a></p></div>
        <div class="post"><p><a href="https://www.privacyguides.org/en/basics/vpn-overview/">Privacy Guide's Detailed Overview of VPNs</a></p></div>
        <div class="post"><p><a href="https://www.mcafee.com/learn/what-is-a-vpn-and-can-it-hide-my-ip-address/">What is a VPN and Can it Hide My IP Address?</a></p></div>
    </div>

    
{% endblock %}
