.larger_box{
    display: flex;
    margin: 5% 25% 0%;
    min-height: 50%;
}

.content{
    width: 50vw;
    height:fit-content;
    background-color: rgba(100, 148, 237, 0.655);
    border-radius:8px;
    margin: 0% 1% 0% 0%;
    padding-left: 0%;
}

.content h3{
    padding-left: 5%;
}

.content p{
    padding-left: 5%;
}

.post_content {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height:70%;
    margin: 0% 2% 5% 2%;
    padding-left: 0%;
}

.post_content p {
    padding-left: inherit;
}

.comments_and_make_comments{
    margin: 0% 0% 0% 0%;
    width: 50%;
    background-color: rgba(100, 148, 237, 0.655);
    border-radius:8px;
    height:fit-content;
    align-items: center;
}
.comments{
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 5% 5% 5% 5%;
    max-height: 50%;
    overflow:auto;
    display:block;
}

.comment {
    background-color: rgba(100, 148, 237, 0.655);
    border-radius:4px;
    margin: 5% 5% 5%;
}

.comment p{
    padding-left: 3%;
}

#comment_form {
    height:auto;
    width: 100%;
    margin: 0% 5% 0%;
    position: relative;
    bottom: 0;
}

input {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
  
textarea {
    background-color: rgb(255, 255, 255);
    align-self: center;
    height: 75px;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}
